ion-badge {
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}
p{font-weight: 300;
    font-size: 11px;
    color: black}
    
    .imagenUpload{
        border-radius: 50%;
        width: 30%;
        height: 30%;
        
    }