<ion-header>
  <ion-toolbar >
    <ion-title>Fotos a sincronizar <strong>{{totalFotos}}</strong></ion-title>
 
  <ion-buttons slot ="end">
    <ion-button color ="tertiary" (click)="uploadPhotos()"> <ion-icon name ="cloud-upload"></ion-icon></ion-button>
  </ion-buttons> 
  <ion-buttons slot ="start">
      <ion-button color ="danger" (click)="exit()"> <ion-icon name ="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


          <ion-virtual-scroll [items]="infoImages">
            <ion-item-sliding *virtualItem="let item; let indice=index">
              
              <ion-item>
                
                <ion-thumbnail slot="start">
                  <img src={{item.imagenLocal}} tappable (click)="openPreview(item.imagenLocal)">
                </ion-thumbnail>
       
                  <ion-label>
                      <p>{{indice + 1}}</p>
                      <p style="font-size: 10px;"> <strong>Cuenta:</strong>{{item.cuenta}}</p>
                      <p style="font-size: 10px;"><strong>Fecha:</strong>{{item.fecha}}</p>
                  </ion-label>

              </ion-item>
              <ion-item-options side="start">
          
                <ion-item-option color="danger" (click)="deletePhoto(item.id,item.rutaBase64)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
          
                </ion-item-option>
          
              </ion-item-options>
              <ion-item-options side="end">
          
                <ion-item-option color="primary" (click)="uploadPhoto(item.id)">
                  <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
          
                </ion-item-option>
          
              </ion-item-options>
            </ion-item-sliding>
          </ion-virtual-scroll>

<!-- 
<ion-list>
    <ion-item *ngFor="let item of infoImages">
        <ion-thumbnail slot="start">
          <img src={{item.imagenLocal}}>
        </ion-thumbnail>
        <p style="font-size: 10px;"> <strong>Cuenta:</strong>{{item.cuenta}}</p>
        <p style="font-size: 10px;"><strong>Fecha:</strong>{{item.fecha}}</p>
        <p *ngIf="item.cargado==1" style="color:green;font-size: 8px;"><strong>Estatus:</strong>Cargada</p>
        <p *ngIf="item.cargado==0" style="color:red; font-size: 8px;"><strong>Estatus:</strong>Pendiente</p>
  
      </ion-item>
</ion-list> -->

</ion-content>
