<ion-header>
  <ion-toolbar>
    <ion-title>Modulo de gestión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="pattern">
    <div class ="perfil" *ngIf="gestor">

        <img src ="../../assets/img/gestor.png">
        <ion-button (click)="gestionGestor()" expand="block" color= "success">Gestión Visita</ion-button>
      
      </div>
</div>



  <div class="pattern">
      <div class ="perfil" *ngIf="abogado">

          <img src ="../../assets/img/abogado.png"> 
          <ion-button (click)="gestionAbogado()" expand="block" color= "success">Gestión Legal</ion-button>
          <img src ="../../assets/img/gestor.png">
          <ion-button (click)="gestionGestor()" expand="block" color= "tertiary">Gestión Visita</ion-button>
        
        </div>
    </div>
  
      <div class="pattern">
          <div class ="perfil" *ngIf="callcenter">
              <img src ="../../assets/img/call.png"> 
            <ion-button (click)="gestionCall()" expand="block" color= "tertiary">Gestión CallCenter</ion-button>
            </div>
        </div>
  
          <div class="pattern">
              <div class ="perfil" *ngIf="reductor">
                  
              <img src ="../../assets/img/reductor.png">                
              <ion-button (click)="gestionReductor()" expand="block" color= "success">Gestión Reductores</ion-button>

              <img src ="../../assets/img/gestor.png">
              <ion-button (click)="gestionGestor()" expand="block" color= "tertiary">Gestión Visita</ion-button>

              <img src ="../../assets/img/abogado.png"> 
              <ion-button (click)="gestionAbogado()" expand="block" color= "tertiary">Gestión Legal</ion-button>


                </div>
            </div>


</ion-content>
