

<ion-content padding>
  <div style="text-align: center">

<img src ="assets/img/implementta_logo.jpg" style="height: 40%; width :40%; padding-top: 20px">
<h2>Plaza</h2>
    <ion-list>

          <ion-item routerLink="/sync-page" >
              <ion-icon slot="start"  name="refresh"></ion-icon>
              <ion-label>
                Sincronización
              </ion-label>
            </ion-item>
            <ion-item routerLink="/graphics" >
                <ion-icon slot="start" name="stats"></ion-icon>
                <ion-label>
                  Gráficos
                </ion-label>
              </ion-item>
              <ion-item >
                <ion-icon slot="start" name="alarm"></ion-icon>
                <ion-label>
                  Checador
                </ion-label>
              </ion-item>
              <ion-item (click)="exit()" >
                  <ion-icon slot="start" name ="exit"></ion-icon>
                  <ion-label>
                    Salir
                  </ion-label>
                </ion-item>
        
      </ion-list>
    </div>
</ion-content>
