ion-select{
    max-width: 100% !important;
   }
   p{font-weight: 300;
    font-size: 11px;
    color: black}
    .imagen{
  
        width: 35%;
        height: 35%;
    
        
    }
    .myCustomSelect{
        max-width: 100% !important;
       }