<ion-content class="master">
    <ion-tabs>
     

        <ion-tab-bar slot="bottom" >
             
          <ion-tab-button tab="account-detail" color ="success">
            <ion-icon name="list-box"></ion-icon>
            <ion-label><small> Cuenta</small></ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="address-detail" color ="success">
            <ion-icon name="home"></ion-icon>
            <ion-label><small>Domicilios</small></ion-label>
          </ion-tab-button>
          <ion-tab-button tab="photos-detail" color ="success">
              <ion-icon name="photos"></ion-icon>
              <ion-label><small>Fotos</small></ion-label>
            </ion-tab-button>
            <ion-tab-button>
                <ion-tab-button tab="gestion-page" color ="success">
                    <ion-icon name = "construct"></ion-icon>
                    <ion-label><small>Gestionar</small></ion-label>
                  </ion-tab-button>
 
                </ion-tab-button>
   
        </ion-tab-bar>           
      </ion-tabs>

</ion-content>