<ion-content >
 
<ion-tabs>
      
    <ion-tab-bar slot="bottom"  >
        <ion-tab-button tab="main-list" color ="success">
            <ion-icon name="home"></ion-icon>
            <ion-label><small>Inicio</small></ion-label>
          </ion-tab-button>
          <ion-tab-button tab="main-mapcluster" color ="success">
              <ion-icon name="map"></ion-icon>
              <ion-label><small>Mapa</small></ion-label>
            </ion-tab-button>
          <ion-tab-button tab="graphics" color ="success">
              <ion-icon name="stats"></ion-icon>
              <ion-label><small>Estadisticas</small></ion-label>
            </ion-tab-button> 
            
        <ion-tab-button tab="sync-page" color ="success">
          
            <ion-icon name="refresh"></ion-icon>
            <ion-label><small>Sync</small></ion-label>
          </ion-tab-button> 
 
      <ion-tab-button tab="config-page" color ="success">
          <ion-icon name = "build"></ion-icon>
          <ion-label><small>Perfil</small></ion-label>
    </ion-tab-button>

    </ion-tab-bar>           
  </ion-tabs>  
</ion-content >

