<ion-header>
  <ion-toolbar>
    <ion-title>Estadisticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="assets/img/implementta.jpg">
    <ion-item >
        <ion-note color ="secondary" slot="end">{{total}}</ion-note>
        <ion-label> Cuentas totales</ion-label>
    </ion-item>
  
    <ion-item>
        <ion-note color ="secondary" slot="end">{{totalGestionadas}}</ion-note>
      <ion-label>Cuentas gestionadas</ion-label>
    </ion-item>
  
    <ion-item>
        <ion-note color ="secondary" slot="end">{{faltantes}}</ion-note>
      <ion-label>Cuentas faltantes</ion-label>
    </ion-item>
  
    <ion-item>
        <ion-note color ="secondary" slot="end">{{deudaTotal | currency:'USD':'symbol' }}</ion-note>
      <ion-label>Total deuda</ion-label>
    </ion-item>
    <ion-item>
        <ion-note color ="secondary" slot="end">{{totalPagadas}}</ion-note>
        <ion-label>Cuentas pagadas</ion-label>
      </ion-item>
  </ion-card>
</ion-content>
